@import '../style.scss';

.titre {
    border-radius: 5px;
    padding: 5px;
    color: white;
    margin-bottom: 10px;
    background-image:linear-gradient(to right,rgb(133, 128, 128),$btn_background_color) ;
    h2 {
        border-left: solid 3px $btn_background_color;
        margin: 0px;
        padding-left: 10px;
    }
}