@import "../style.scss";

.menu-deux {

    background-color:$color;
    width: 100%;
    ul {
        margin-left: 50px;
        margin-right: 50px;
        width: 100%;
        text-align: center;
    }
    a {
        text-decoration: none;
        color: $text_color;
        font-size: 15px;
        border-bottom: solid 2px $color;
        &:hover, &:focus, .active  {
            border-color: $btn_background_color;
            color: $text_color;
        }
    }
    li {
        margin-left: 50px;
        margin-right: 50px;
    }
    .i {
        margin-left: 5px;
        margin-right: 5px;
        a {
            border-bottom:none!important;
        }
    }
}