@import "../style.scss";
body {
    background-color: #cfcfcf;
}
.navbar {
    padding: 0px!important;
}
.searching {
    margin-right: 20px;
}


@media (max-width:630px) {
    .searching {
        form {
            display: none;
        }
    }
    
        .hide {
            font-size: 25px;
            margin-left: 25px;
            top: -8px;
            background-color: black!important;
            color: $text_color ;
            position: absolute;
        }
        .lab {
            display: block;
            position: relative;
            float: left;
            cursor: pointer;
        }
    
    .in-hide:checked ~ .formtwo {
        display: block;
        
    }
  
}
.head{
    background-color: black;
    margin: 0;
    color: $text_color;

    img {
        margin-left: 50px ;
        width : 50px;
        height: auto;
        display: block;
    }

    form {
        margin-right: 50px;
        input {
            background-color: $color;
            color: $text_color;
            border: none;
            height: 30px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        input:hover, input:focus {
            outline:  none;
        }
        .search_btn {
            background-color: $color;
            color: $text_color;
            border: none;
            height: 30px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        i {
            color: $text_color ;
        }
    }

}

@media (min-width: 726px) {
    .lab, .formtwo{
        display: none;
    }
}


@media (max-width: 726px) {
    .navbar-brand, .searching {
        text-align: center;
    }
}