@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css');

//Variables
$medium_up: "only screen and (min-width:768px)";
$btn_background_color: rgb(8, 8, 48);
$btn_color: white;

%block_form {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
%center_block { 
    margin: 0 auto;
    width: 200px;
}
%input {
    display: block;
    text-align: left;
    width: 100%;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid black;
}
%label {
    display: block;
    width: 100%;
}
%button {
    border-radius: 5px;
    border-color: $btn_background_color;
    background-color:$btn_background_color;
    color: $btn_color;
}

%a, %a:hover {
    color: $btn_background_color;
}