@import '../style.scss';

.mainContent {
    margin: 30px 250px 0px 250px;
    @media (max-width:760px) {
        margin: auto;
        margin-bottom: 100px;
    }
}

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    border: solid .5px black;
    top: 10px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: transparent;
  }
  
  
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 6px;
    top: -5px;
    width: 10px;
    height: 20px;
    border: solid $btn_background_color;
    border-width: 0 5px 5px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  

.mainContent {
    .card {
        .card-title {
            text-align: center;
        }
        .card-body{
            margin-top: 20px;
        }
        .deg {
            background-image: linear-gradient($btn_background_color,white) ;
           img {
            width: 100%;
            height: 100%;
           }
        }
    }

    form {
        border: solid 1px red;
        margin-left: 50px;
        button {
            margin-left: 100px;
        }
        p{
            margin-left: 70px;
            margin-top: 10px;
            a {
                margin-left: 5px;
            }
        }
    }

}