@import "../style.scss";

footer {
    position: fixed;
    padding: 0px;
    background-color: $color;
    width: 100%;
    color: $text_color;
    bottom: 0px;

    img {
        width: 30px;
        height: 30px;
    }
    div {
        display: inline;
    }
}
.left, .right {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
}
.left {
    margin-left: -5px;
}
.right {
    div {
        display: inline-block;
        margin-right: 15px;
    }
    .last {
        margin-right: auto;
    }
}

.container {
    .row {
        margin-top: 10px;
    }
}

@media (max-width:760px) {
   .right {
       padding-left: 5px;
       margin-left: -5px;
   }
}